/* Quick List Scetion Responsive CSS */
@media screen and (max-width: 576px) {

    .header-content {
        max-width: 575px;
        margin: 0 auto;
    }

    .nav-container {
        display: flex;
        flex-direction: column;
        padding: 50px 0;
    }

    .header-logo h2 {
        text-align: center;
        margin-bottom: 30px;
    }

    .header-menu ul {
        display: flex;
        gap: 20px;
        flex-direction: column;
        text-align: center
    }

    .brand-new-title {
        color: #131313;
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 30px;
    }

    .brand-new-description {
        padding: 0 15px;
        width: 350px;
        margin: 0 auto;
    }

    .banner-img {
        
    }

    .banner {
        text-align: center;
    }

    .banner-img img {
        width: 400px;
        margin: 0 auto;
    }

    .quick-list-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .quick-list-images {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
    }

    .quick-img img {
        width: 400px;
    }

    .quick-list-description {
        width: 400px;
    }

    /* Features you Section Responsive CSS */
    .features-you-container {
        display: flex;
        flex-direction: column;
        position: relative;
        margin: 0 20px;
    }

    .experince-div {
        position: absolute;
        width: 242px;
        height: 150px;
        bottom: -50px;
        left: 0;
        background: #FF900E;
        border-radius: 8px;
        font-size: 35px;
        font-weight: 700;
        color: #FFFFFF;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 20px;
    }

    .features-title {
        font-size: 20px;
    }

    .features-img {
        margin: 0 auto;
    }

    .features-img img {
        width: 400px;
    }

    .features-description {
        width: 400px;
    }

    .features-sub-des {
        width: 400px;
    }

    /* Some-Facts Section Responsive CSS */

    .some-facts {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .some-facts-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .some-facts-description {
        width: 400px;
        margin: 0 auto;
        padding-bottom: 20px;
    }

    /* Sponsors section CSS */
    .sponsors {
        margin-bottom: 30px;
    }

    .sponsors-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .contact-container {
        display: flex;
        gap: 50px;
        flex-direction: column;
        align-items: center;
        margin: 0 20px;
    }


}