/* Common CSS */
* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.primary-btn {
    width: 180px;
    height: 64px;
    background: #FF900E;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}


main {
    max-width: 1440px;
    margin: 0 auto;
}

/* Header Section CSS */
header {
    background: rgba(255, 144, 14, 0.1);
}

.header-content {
    max-width: 1440px;
    margin: 0 auto;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}

.header-logo h2 {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

.header-menu {}

.header-menu ul {
    display: flex;
    gap: 85px;
}

.header-menu ul li {
    list-style: none;
}

.header-menu ul li a {
    text-decoration: none;
    color: #424242;
    font-size: 18px;
}

/* Brand New Section CSS */
.brand-new {
    margin: 50px 0;
}

.brand-new-content {
    text-align: center;
}

.brand-new-title {
    color: #131313;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 40px;
}

.brand-new-description {
    color: #727272;
    line-height: 26px;
    margin-bottom: 40px;
}

/* Banner Section CSS */
.banner-img img {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

/* Quick List Scetion CSS */
.quick-list {
    margin: 130px 0;
}

.quick-list-container {
    display: flex;
    gap: 73px;
    justify-content: center;
    align-items: center;
}

.quick-list-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.quick-list-title {
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 24px;
}

.quick-list-title .quick-list {
    color: #727272;
    font-size: 45px;
    font-weight: 500;
}

.quick-list-title .of-our {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

.quick-list-description {
    color: #727272;
    line-height: 26px;
    margin-bottom: 32px;
}

/* Features you Section CSS */
.features-you-container {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.features-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
    position: relative;
    padding-left: 20px;
    margin-bottom: 24px;
}

.features-title::before {
    content: " ";
    width: 6px;
    height: 100%;
    position: absolute;
    background-color: #FF900E;
    top: 0;
    left: 0;
}

.features-description {
    color: #727272;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    margin-bottom: 30px;
}

.features-item {
    background-color: #FFFFFF;
    width: 586px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 30px;
}

.features-sub-title {
    color: #131313;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.features-sub-des {
    line-height: 26px;
    color: #727272;
}

.experince-div {
    position: absolute;
    width: 342px;
    height: 200px;
    bottom: -60px;
    left: 650px;
    background: #FF900E;
    border-radius: 8px;
    font-size: 45px;
    font-weight: 700;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.experince-div p {
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 500;
}


/* Some-Facts Section CSS */
.some-facts {
    margin-top: 200px;
    margin-bottom: 180px;
}

.some-facts-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 24px;
    text-align: center;
}

.some-facts-description {
    color: #727272;
    line-height: 26px;
    margin-bottom: 100px;
    text-align: center;
}

.some-facts-container {
    display: flex;
    justify-content: space-around;
    gap: 124px;
}

.some-facts-item {
    width: 240px;
    height: 240px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.some-facts-item:hover {
    transform: rotate(30deg);
    animation: roll 3s infinite;
}

@keyframes roll {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.facts-icon {
    width: 45px;
    height: 45px;
    margin-bottom: 10px;
}

.facts-title {
    color: #424242;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
}

.facts-sub-title {
    color: #727272;
    font-size: 20px;
    font-weight: 600;
}

/* Sponsors section CSS */
.sponsors {
    margin-bottom: 130px;
}

.sponsors-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 24px;
    text-align: center;
}

.sponsors-description {
    color: #727272;
    text-align: center;
    margin-bottom: 50px;
}

.sponsors-container {
    display: flex;
    justify-content: space-between;
}

/* contact-section CSS */
.contact-section {
    padding: 100px 0;
}

.contact-container {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.map-section {
    width: 100%;
}

.form-section {
    width: 100%;
}

.form-titile h4 {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}

.form-titile p {
    color: #727272;
    line-height: 26px;
    margin-bottom: 30px;
    text-align: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form input {
    margin-bottom: 20px;
    padding: 15px 30px;
    border: 1px solid #ddd;
    font-size: 20px;
}

.contact-form textarea {
    margin-bottom: 20px;
    padding: 15px 30px;
    border: 1px solid #ddd;
    font-size: 20px;
    height: 100px;
}

.contact-form button {
    background: #FF900E;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    padding: 15px 0;
    border: none;
    cursor: pointer;
}

/* Footer Section CSS */
.footer-text {
    color: #424242;
    text-align: center;
    background-color: #FFF4E7;
    padding: 40px 0;
}